.cover-photo-grass{
  background: url('/images/grass.jpg');
  background-size: cover;
  padding:100px;
}
.cover-photo-carwash{
  background: url('/images/carwashing.jpg');
  background-size: cover;
  padding:100px;
}
