extends ../layout

block content
	h1 Almost Done!

	form(method='post', action='/user/create').form
		div
			label Name:
			input(type='text', name='name', placeholder='Name', value='#{user.name}')

		div
			label Email:
			input(type='text', name='email', placeholder='Email', value='#{user.email}')

		div
			label Password:
			input(type='text', name='password', placeholder='Password')

		div(style='margin-top:20px')
			input(type='submit', value='Register').btn.btn-primary
