doctype 5

html
  head
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1", user-scalable="no")
    title= title
    link(rel='stylesheet', href='/css/app.min.752b00df5f9d4adf3ca95b497e11350f.css')

  body
    if(navEnabled)
      .navbar.navbar-default.navbar-static-top(role="navigation")

        a.navbar-brand(href='/', data-type="navigator", style="position:absolute;left:0;top:-5px")
          span.fa.fa-home
        .navwrapper-right
          ul.list-inline
            if (req.isAuthenticated())
              li(class="#{currentTab == 'me' ? 'active': ''} dropdown")
                a(href="/user/#{req.user._id}", title="Profile", data-type="navigator")
                  span.fa.fa-user
            else
              li(class="#{currentTab == 'login' ? 'active': ''}")
                a(href="/login", title="Login") Login
              li(class="#{currentTab == 'register' ? 'active': ''}")
                a(href="/user/signup", title="Sign Up") Register



    script(src='/js/app-vendor.js')
    script(src='/js/app.min.9b51cab13c69c74f45372b7d4704ac90.js')
    script(src='/js/templates-4bef4019-5130-4ee0-bb0a-8db434f6e52f.js')


    //script.
    //  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //  ga('create', 'UA-47780029-1', 'lastvine.com');
    //  ga('send', 'pageview');
