<div>
  {{#link-to 'match.list' class="btn btn-info"}} My Matches {{/link-to}}
  {{#link-to 'search' class="btn btn-info"}} Search {{/link-to}}
</div>


<div>
  {{#link-to 'login'}}Login{{/link-to}}
</div>

<div>
  {{#link-to 'register'}}Register{{/link-to}}
</div>

