<div class="col-md-8">
  <h1>Login</h1>

  {{#if errors}}
    <div class="alert alert-danger">
      <div>Login failed</div>
      <ul>
        {{#each err in errors}}
          <li>{{err}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <a href="/verify/facebook" class="btn btn-block btn-social btn-facebook">
    <i class="fa fa-facebook"></i>
    Login with facebook
  </a>

  <form method="post" class="col-md-8" action="/api/user/login" {{action "login" on="submit"}}>
    <div class="form-group">
      {{input type="text" value=email placeholder='Email' class="form-control"}}
    </div>
    <div class="form-group">
      {{input type="password" value=password placeholder='Password' class="form-control"}}
    </div>
    <button type="submit" class="btn btn-primary">Authenticate</button>
  </form>
</div>
