<h1>Sign Up</h1>

{{#if errors}}
  <div class="alert alert-danger">
    <div>Oops!</div>
    <ul>
      {{#each err in errors}}
        <li>{{err}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<form method="post" class="col-md-8" action="/api/phone/create" {{action "register" on="submit"}}>

  {{input type="text" value=phone placeholder='Phone Number' class="form-control"}}

  {{input type="text" value=email placeholder='Email' class="form-control"}}

  {{input type="password" value=password placeholder='Password' class="form-control"}}

  <button type="submit" class="btn btn-primary">Authenticate</button>
</form>
