{{#each}}
  <div style="margin-top:10px">
    <h4>
      {{#link-to 'user.show' this._id}}
        {{#if image}}
          <img {{bind-attr src=image}} width="100" />
        {{/if}}
        {{name}}
      {{/link-to}}
    </h4>
    <hr />
  </div>
{{/each}}
