h2(style="font-size:20px;font-weight:bold;") #{offer.company} has sent you an offer for employment
div
	a(href= rootUrl + "/candidate/confirmemail/" + offer.uuid + "?offer="+ offer.offerId + "&email=" + offer.email) Click here to view the offer