extends ../layout

block content
	.row-fluid
		.col-lg-9
			.list-group
				each a in items
					a.list-group-item(href="/plan/" + a._id)
						h5 #{a.name}

		.col-lg-3
			h4(style='font-weight:bold')
				i.icon-filter
				span(style='position: relative;top: -5px;') &nbsp;Filter

			div
				a(href='#').btn.filterSubmit Search

			hr
