<div class="col-md-8">
  <h1>Edit</h1>

  <form method="post" class="col-md-8" action="/api/user/login" {{action "update" on="submit"}}>
    <div class="form-group">
      {{input type="text" value=name placeholder='Name' class="form-control"}}
    </div>
    <div class="form-group">
      {{input type="text" value=email placeholder='Email' class="form-control"}}
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
